*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --blue: hsl(246, 80%, 60%);
    --workRed: hsl(15, 100%, 70%);
    --playBlue: hsl(195, 74%, 62%);
    --studyRed: hsl(348, 100%, 68%);
    --exerciseGreen: hsl(145, 58%, 55%);
    --socialViolet: hsl(264, 64%, 52%);
    --selfCareOrange: hsl(43, 84%, 65%);

    --veryDarkBlue: hsl(226, 43%, 10%);
    --darkBlue: hsl(235, 46%, 20%);
    --desaturatedBlue: hsl(235, 45%, 61%);
    --paleBlue: hsl(236, 100%, 87%);

    --radius: 1rem;
}
h2{
    font-size: 50px;
    font-weight: 300;
}
body {
    font-family: 'Rubik', sans-serif;
    color: #fff;
    background: var(--veryDarkBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    grid-template-rows: repeat(2,300px);
    gap: 1.5rem;
    max-width: 1000px;
    
}

.main-card {
    grid-row: 1/3;
    background-color: var(--darkBlue);
    border-radius: var(--radius);
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* min-height: 300px; */
}
.main-card > .Acard-content {
    border-radius: var(--radius);
    padding: 1.5rem;
    background-color: var(--blue);
    height: 60%;
}
.Acard-content img {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 3px solid #fff;
}
.Acard-content p{
    margin-top: 30px;
    opacity: .7;
}
.Acard-content .name {
    font-size: 3rem;
    font-weight: 300;
}
.side-bar{
    height: 40%;
    padding: 1.5rem;
    background-color: var(--darkBlue);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* align-items: center; */
}
.side-bar >*{
    opacity: .6;
}
.side-bar >*:hover{
    opacity: 1;
}



.card{
    border-radius: var(--radius);
    overflow: hidden;
    position: relative;
}

.icon {
    display: flex;
    justify-content: flex-end;
    overflow: hidden;
    padding-right: 20px;
}
.icon svg{
    /* height: 50px; */
    /* width: 200px; */
}
.card-content{
    border-radius: var(--radius);
    padding: 2rem;
    background-color: var(--darkBlue);
    overflow: hidden;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: all 0.5s;
}
.card-content:hover{
    background-color: var(--desaturatedBlue);
}
.subtitle{
    display: flex;
    justify-content: space-between;
}
.subtitle p{
    font-size: 18px;
}
.detail h2{
    margin-bottom: 45px;
}
.detail > p{
    opacity: 0.5;
}














#work {
    background-color: var(--workRed);
}

#play {
    background-color: var(--playBlue);
}

#study {
    background-color: var(--studyRed);
}

#exercise {
    background-color: var(--exerciseGreen);
}

#social {
    background-color: var(--socialViolet);
}

#selfCare {
    background-color: var(--selfCareOrange);
}




@media (max-width:376px) {
    :root{
        --radius: .5rem;
    }
    .wrapper {
        /* background: red; */
        display: flex;
        flex-direction: column;
        height: 100%;
    }
    .main-card{
        
    }
    .Acard-content{
        /* width: 100%; */
        display: flex;
        flex-wrap: wrap;
        position: relative;
        align-items: center;
        justify-content: space-evenly;
        
    }
    .Acard-content p{
        margin: 0;
        position: absolute;
        top: 30px;
    }
    .Acard-content .name{
        font-size: 26px;
    }
    .side-bar{
        flex-direction: row;
    }

    .card{
        min-height: 200px;
    }
    .detail{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .detail h2{
        font-size: 32px;
        margin: 0;
    }
    .detail p{
        opacity: 0.6;
    }
    
}



/* Footer */
.attribution {
    display: none;
    width: 100%;
    background-color: #555;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}